/* styles.css */
:root {
  --marvelsoft-logo-red: #BD1E2C;
}

html {
  font-size: 0.7rem;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
}

.messages {
  display: flex;
  flex-direction: column;
}

.sent-messages {
  margin-top: 1rem;
  color: var(--marvelsoft-logo-red);
  font-size: 2rem;
}

.received-messages,
.received-messages-above {
  margin-top: 1rem;
}

.received-messages-above > * {
  margin: 1rem 0;
  color: white;
  padding: 1rem 1rem;
  background-color: var(--marvelsoft-logo-red);
  border-radius: 6px;
  font-size: 2rem;
}

.messageForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  flex: 4;
  margin-right: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 2px 1rem;
  font-size: 1.5rem;
  background-color: aliceblue;
}

.input:focus {
  background-color: white;
}

.btn {
  height: 5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--marvelsoft-logo-red);
  color: whitesmoke;
  border: none;
  font-size: 1.6rem;
}
